.btn-success {
    float: right;
}

.new-list-button {
    width: 100px;
    position: absolute;
    top:10px;
    left: auto;
    right: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}