.list {
    text-align: left;
    /* border: 1px solid #000; */
    background-color: #fff;
    /* height: 100vh; */
    padding: 10px;
}

.list-title-input {
    border: none;
    margin-bottom: 20px;
}

.delete-icon {
    float: right;
}

.update-title-button {
    display: block !important;
    float: none !important;
}